@* @model FreelancerVM
<form method="post">
    <input asp-for="Freelancer.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-1">
            <h2 class="text-primary">Edit Freelancer</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row p-1">
            <label class="p-0">Freelancer Name</label>
            <input asp-for="Freelancer.Name" class="form-control" />
            <span asp-validation-for="Freelancer.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Skills</label>
            <input asp-for="Freelancer.Skills" class="form-control" />
            <span asp-validation-for="Freelancer.Skills" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Description</label>
            <input asp-for="Freelancer.ProfileDescription" class="form-control" />
            <span asp-validation-for="Freelancer.ProfileDescription" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Category</label>
            <select asp-for="Freelancer.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option value="">Select Category</option>
            </select>
            <span asp-validation-for="Freelancer.CategoryId" class="text-danger"></span>
        </div>


        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control"><i class="bi bi-plus-circle"></i> Edit</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Freelancer" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to Freelancers List
                </a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
 *@